<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/#" class="brand-link">
        <span class="brand-text font-weight-light">OpenTakRouter</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-house"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/map" class="nav-link">
                        <i class="nav-icon fas fa-map-location"></i>
                        <p>
                            Map
                        </p>
                    </a>
                </li>

                <!--
                <li class="nav-item">
                    <a href="/clients" class="nav-link">
                        <i class="nav-icon fas fa-mobile"></i>
                        <p>
                            Clients
                        </p>
                    </a>
                </li>
                -->

                <li class="nav-item">
                    <a href="/datapackages" class="nav-link">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>
                            Data Packages
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>