<aside class="otr-sidebar">
    <a href="/" class="otr-brand">OpenTakRouter</a>
    <nav class="otr-nav" aria-label="Primary">
        <a href="/">Overview</a>
        <a href="/map">Map</a>
        <a href="/clients">Clients</a>
        <a href="/datapackages">Data Packages</a>
    </nav>
</aside>
